<div class="col-lg-12 mt-5">
  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">Nueva Llave</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">Listado de llaves</a>
    </div>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="col">
        <app-create-key></app-create-key>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="col">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column.name}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.label }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row[column.name] }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Acciones">
            <mat-header-cell style="justify-content:center!important;" *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell style="justify-content:center!important;" *matCellDef="let row">
              <i class="fa fa-eye icon-detalle" title="Ver Detalle" data-toggle="modal" data-target="#exampleModal"></i>
            </mat-cell>
          </ng-container>

          <mat-header-row mat-header-row *matHeaderRowDef="columnsNames"></mat-header-row>
          <mat-row mat-row *matRowDef="let row; columns: columnsNames;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 30]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>

  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar llave</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="modal-body">

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Llave secreta *</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="Keysecret"
                required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>