<form [formGroup]="formGroup" (ngSubmit)="onSubmitSave()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputkeymane">Nombre de llave *</label>
        <input type="text" class="form-control" id="inputkeymane" formControlName="inputkeymane">
      </div>
      <div class="form-group col-md-6">
        <label for="inputtypekey">Tipo *</label>
        <select id="inputtypekey" class="form-control" formControlName="inputtypekey">
          <option selected>seleccione...</option>
          <option value="S">Last</option>
          <option value="2K">Llave secreta</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputkeyvalue">Valor de llave *</label>
      <textarea class="form-control" id="inputkeyvalue" rows="3" formControlName="inputkeyvalue"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
